* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
header {
    background-color: teal;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    min-height: 75vh;
    width: 80%;
    margin: auto;
    padding: 16px;
}
footer {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}